
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: #020203;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}



